---
const { href, name } = Astro.props;
---

<a
  href={href ? href : "#"}
  title=""
  class="inline-flex py-2 text-base font-medium text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
>
  {name}
</a>
