---
const { href, name } = Astro.props;
---

<style>
  @media (prefers-color-scheme: dark) {
    .dark {
      color: white;
    }
  }
</style>
<a
  href={href ? href : "#"}
  title=""
  class="dark text-base font-black text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
>
  {name}
</a>
