---
const { para, id } = Astro.props;
---

<div
  class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800 text-center ml-6 md:ml-0"
  id={id}
  role="tabpanel"
  aria-labelledby="contacts-tab"
>
  <!-- <p class="text-sm text-gray-500 dark:text-gray-400">
    This is some placeholder content the <strong
      class="font-medium text-gray-800 dark:text-white"
      >Contacts tab's associated content</strong
    >. Clicking another tab will toggle the visibility of this one for the next.
    The tab JavaScript swaps classes to control the content visibility and
    styling.
  </p> -->
  <p class="text-gray-600">{para}</p>
</div>
