---
const { para, id } = Astro.props;
---

<div
  class="p-4 rounded-lg bg-slate-50 dark:bg-gray-800 shadow flex flex-col justify-center content-center"
  id={id}
  role="tabpanel"
  aria-labelledby="contacts-tab"
>
  <p class="text-gray-600 text-center">{para}</p>
</div>
