---
import Tabs from "@/components/tabs.astro";
import Location from "@/components/Sections/Location.astro";
import Team from "@/components/Sections/team.astro";

/* 
The ISC was founded in 2022, as a CSO in Bangladesh. It is established to
promote “A society that values the dignity and freedom of lives on earth”.
We work for the most marginalized and vulnerable people that we term as
‘Our Concern Folks’ in short ‘OCF’. Since its inception, ISC has done
several activities and programs designed to sustainable improvement of the
lives and well-being of most marginalized and vulnerable communities in
the northern part of Bangladesh. ISC believes sustainable changes happen
through the systemic reformation of society. This reformation is not
possible without guaranteeing the changes in the lives of the most
vulnerable and marginalized communities. As a development organization ISC
focuses on the value of all lives on earth with the same dignity and
importance, transformational change of people’s social role for social
change, balanced interaction between humans and flora and fauna for green
ecology, priority to native needs and knowledge inclusive sustainable
development, develop social leaders with competency based skill for
enterprise development, priority to indigenous, disable, gender diverse
population and occupational minorities.
*/
---

<div class="flex flex-col lg:flex-row py-16 px-4">
  <div class="basis-1/2 p-4">
    <h1 class="text-4xl text-blue-600 text-center lg:text-left pb-4 lg:pl-2">
      Who We Are
    </h1>
    <p class="text-2xl text-blue-500">
      ISC was founded in 2022, as a CSO <em>(Civil Society Organization)</em> in
      Bangladesh. It is established to promote
      <strong>
        “A society that values the dignity and freedom of lives on earth”.
      </strong>We work for the most marginalized and vulnerable people in
      Bangladesh.
    </p>
  </div>
  <div class="basis-1/2 grid place-content-center">
    <Tabs />
  </div>
</div>
<Team />
<Location />
