---
import { Image } from "astro:assets";
// Image Imports
import comMeeting from "@/assets/gallery/communitymeeting.jpg";
import comMeeting2 from "@/assets/gallery/communitymeeting2.jpg";
import clothes from "@/assets/gallery/distibutionsOfWinterClothes.jpg";
import fbimage0 from "@/assets/gallery/FB_IMG_1680623827900.jpg";
import fbimage1 from "@/assets/gallery/FB_IMG_1680623834197.jpg";
import fbimage2 from "@/assets/gallery/FB_IMG_1680623892290.jpg";
import fbimage3 from "@/assets/gallery/FB_IMG_1680623908620.jpg";
import fbimage4 from "@/assets/gallery/FB_IMG_1680623917342.jpg";
import fbimage5 from "@/assets/gallery/FB_IMG_1680623924319.jpg";
import fbimage6 from "@/assets/gallery/FB_IMG_1680624615545.jpg";
import fbimage7 from "@/assets/gallery/FB_IMG_1680624991304.jpg";
import good from "@/assets/gallery/IMG20221209121430.jpg";
import karam1 from "@/assets/gallery/karam1.jpg";
import karam2 from "@/assets/gallery/karam2.jpg";
import karam3 from "@/assets/gallery/karam3.jpg";
import karam4 from "@/assets/gallery/karam4.jpg";
import karam5 from "@/assets/gallery/karam5.jpeg";
import meeting0 from "@/assets/gallery/meeting0.jpg";
import meeting1 from "@/assets/gallery/meeting1.jpg";
import meeting2 from "@/assets/gallery/meeting2.jpeg";
import meeting3 from "@/assets/gallery/meeting3.jpeg";

const images = [
  comMeeting,
  comMeeting2,
  fbimage0,
  fbimage1,
  fbimage2,
  fbimage3,
  fbimage4,
  fbimage5,
  fbimage6,
  fbimage7,
  good,
  karam1,
  karam2,
  karam3,
  karam4,
  karam5,
  meeting0,
  meeting1,
  meeting2,
  meeting3,
  clothes,
];
let shuffled = images
  .map((value) => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value);
---

<!-- <div class="flex justify-center align-middle text-5xl font-extrabold py-4 pt-8">
  Gallery
</div> -->
<h1 class="py-4 pt-8">Gallery</h1>
<div class="flex flex-col justify-center items-center py-6">
  <div
    id="default-carousel"
    class="relative w-[85%] lg:min-w-[720px]"
    data-carousel="slide"
  >
    <!-- Carousel wrapper -->
    <div
      class="relative h-72 overflow-hidden rounded-lg md:h-96 lg:min-h-[405px] lg:h-[85vh]"
    >
      <!-- Item 1 -->
      {
        shuffled.map((image) => {
          return (
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <div class="flex justify-center align-middle h-full">
                <Image src={image} alt="" />
              </div>
            </div>
          );
        })
      }
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
    >
      {
        images.map((_, index) => {
          return (
            <button
              type="button"
              class="w-1 h-1 lg:w-3 lg:h-3 rounded-full"
              aria-current="true"
              aria-label={`Slide ${index + 1}`}
              data-carousel-slide-to={`${index}`}
            />
          );
        })
      }
    </div>

    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
      >
        <svg
          class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>
