---
import HeaderLink from "@/components/helper/headerlink.astro";
import HeaderLinkSmall from "@/components/helper/headerlink-small.astro";
// const base = import.meta.env.BASE_URL; // not needed for custom domain
// import logo from "@/assets/logo.webp";
---

<style>
  /* .m_fade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms;
  } */
  .only-on-dark {
    display: none;
  }
  .dark {
    background-color: white;
    color: black;
  }

  @media (prefers-color-scheme: dark) {
    .only-on-dark {
      display: block;
    }

    .only-on-light {
      display: none;
    }
    .dark {
      background-color: black;
      color: white;
    }
  }
</style>

<header class="dark pb-2 fixed top-0 z-50 w-full">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <!-- lg+ -->
    <nav class="flex items-center justify-between h-16 lg:h-20">
      <div class="flex-shrink-0">
        <a href="/" title="" class="flex">
          <img class="w-auto h-14 only-on-light" src="/logo.webp" alt="logo" />
          {/* src=`${base}/logo.webp` // not needed for custom domain */}
          <img
            class="w-auto h-[5rem] only-on-dark"
            src="/logoDark.webp"
            alt="logo"
          />
          {/* src=`${base}/logoDark.webp` // not needed for custom domain */}
        </a>
      </div>
      <button
        type="button"
        class="dark inline-flex p-2 transition-all duration-200 rounded-md lg:hidden focus:bg-gray-100 hover:bg-gray-100"
        id="data-button"
      >
        <!-- Menu open: "hidden", Menu closed: "block" -->
        <svg
          id="data-menu"
          class="block w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6 h16 M4 12 h 16 M4 18 h16"></path>
        </svg>

        <!-- Menu open: "block", Menu closed: "hidden" -->
        <svg
          id="data-close"
          class="hidden w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <div class="hidden lg:flex lg:items-center lg:ml-auto lg:space-x-10">
        <HeaderLink name="About Us" href="/#link-about" />
        <HeaderLink name="Projects" href="/#link-projects" />
        <HeaderLink name="Gallery" href="/#link-gallery" />
        <HeaderLink name="Contact" href="/#link-contact" />
      </div>
    </nav>

    <!-- xs to lg -->
    <nav
      id="data-header"
      class="dark mt-2 mb-1 border border-gray-200 rounded-md shadow-md hidden"
    >
      <div class="flow-root">
        <div class="flex flex-col px-6 space-y-1">
          <HeaderLinkSmall name="About Us" href="/#link-about" />
          <HeaderLinkSmall name="Projects" href="/#link-projects" />
          <HeaderLinkSmall name="Gallery" href="/#link-gallery" />
          <HeaderLinkSmall name="Contact" href="/#link-contact" />
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  const button = document.querySelector("button#data-button");
  const nav = document.querySelector("#data-header");
  const menu = document.querySelector("#data-menu");
  const close = document.querySelector("#data-close");
  button.addEventListener("click", () => {
    nav.classList.toggle("hidden");
    // nav.classList.toggle("m_fade");
    // hamburger menu
    menu.classList.toggle("hidden");
    close.classList.toggle("hidden");
  });
</script>
