---
// const baseDir = import.meta.env.BASE_URL;
---

<style>
  .anim {
    animation: text-focus-in 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
  .bg-pan-top {
    animation: bg-pan-top 3s ease infinite both;
  }
  @keyframes bg-pan-top {
    0% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0;
    }
  }
</style>
<!-- bg-no-repeat when one image ;bg-[url('/ISC-BD/logo.jpeg')] -->
<section
  class="bg-center bg-cover bg-gray-500 bg-blend-multiply bg-pan-top"
  data-anim
>
  <div
    class="px-4 mx-auto max-w-screen-xl text-center h-screen grid place-content-center"
  >
    <h1
      class="mb-4 tracking-tight text-amber-500 md:text-6xl lg:text-7xl pt-24"
    >
      Initiative for Social Change
    </h1>
    <p
      id="data-slogans"
      class="mb-8 text-lg font-normal text-gray-300 lg:text-3xl px-16 lg:px-48"
    >
    </p>
  </div>
</section>
<script is:inline>
  // const base = { baseDir };
  const len = 5;
  const imgs = ["school2", "people1", "winter2", "vera", "karam"];
  const slogans = [
    "Our school is our joy as we learn in our language",
    "Saving nature is saving the love of mother for care",
    "Keeping good health is a state of simple awareness",
    "Small climate smart livelihood for our growth and market",
    "Our culture is our pride and identity with unity to others",
  ];
  let i = 0;
  const pt = document.getElementById("data-slogans");
  const bgElem = document.querySelector("[data-anim]");
  const changeHero = () => {
    pt.innerText = slogans[i];
    pt.classList.toggle("anim");
    // bgElem.classList.toggle("bg-pan-top");

    bgElem.style.backgroundImage = `url("ISC-BD/cover/${imgs[i]}.webp")`; // why basedir is not working??
    i = (i + 1) % len;
    setTimeout(() => {
      pt.classList.toggle("anim");
      // bgElem.classList.toggle("bg-pan-top");
    }, 2900);
  };

  changeHero();
  setInterval(changeHero, 3000);
</script>
