---
import map from "@/assets/gallery/map.jpeg";
import { Image } from "astro:assets";
---

<!-- <section class="flex flex-row bg-slate-800 py-12">
  <h1 class="basis-1/2 text-cyan-300 flex justify-center items-center">
    Our Location
  </h1>
  <div class="basis-1/2 bg-white rounded-3xl">
    <Image src={map} alt="map" class="h-[70dvh] object-contain" />
  </div>
</section> -->
<section class="grid place-content-center bg-slate-800 py-12 px-4">
  <h1 class="text-white pb-12">Our Locations</h1>
  <Image src={map} alt="map" class="rounded-3xl" />
</section>
