---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Sections/Projects.astro";
import Contact from "@/components/Sections/Contact.astro";
import Gallery from "@/components/Sections/Gallery.astro";
import Landing from "@/components/Sections/Landing.astro";
import About from "@/components/Sections/About.astro";
---

<Layout pageTitle="Home">
	<div id="link-home" class="bg-slate-200">
		<Landing />
	</div>
	<div id="link-about" class="bg-slate-200">
		<About />
	</div>
	<div id="link-projects" class="bg-slate-200">
		<Projects />
	</div>
	<div id="link-gallery" class="bg-slate-200">
		<Gallery />
	</div>
	<div id="link-contact">
		<Contact />
	</div>
</Layout>
