---
import { CarouselOrientation } from "@/components/CarouselOrientation";
// import ImageCard from "@/components/ImageCard.astro";

const img = "hands.jpg";
---

<div class="flex justify-center align-middle">
  <CarouselOrientation client:visible />
</div>
<!-- <ImageCard path=`/src/assets/gallery/${img}` /> -->
