---
// const baseDir = import.meta.env.BASE_URL;
const text =
  "We envision a society that values the dignity and freedom of lives on earth.";
---

<style>
  [data-anim] {
    animation-name: loop;
    animation-duration: 18s;
    animation-iteration-count: infinite;
  }
  @keyframes loop {
    0% {
      background-image: url("/src/assets/cover/winter2.webp");
    }
    16% {
      background-image: url("/src/assets/cover/vera.webp");
    }
    33% {
      background-image: url("/src/assets/cover/people1.webp");
    }
    50% {
      background-image: url("/src/assets/cover/water.webp");
    }
    67% {
      background-image: url("/src/assets/cover/school2.webp");
    }
    83% {
      background-image: url("/src/assets/cover/karam.webp");
    }
    100% {
      background-image: url("/src/assets/cover/winter2.webp");
    }
  }
</style>
<!-- bg-no-repeat when one image ;bg-[url('/ISC-BD/logo.jpeg')] -->
<section class="bg-center bg-cover bg-gray-500 bg-blend-multiply" data-anim>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-amber-500 md:text-6xl lg:text-8xl"
    >
      Initiative for Social Change
    </h1>
    <p
      id="data-slogans"
      class="mb-8 text-lg font-normal text-gray-300 lg:text-3xl sm:px-16 lg:px-48"
    >
      <!-- {text} -->
    </p>
  </div>
</section>
<script is:inline>
  const slogans = [
    "Our school is our joy as we learn in our language",
    "Saving nature is the saving the love of mother for care",
    "Keeping good health is a state of simple awareness",
    "Small climate smart livelihood for our growth and market",
    "Our culture is our pride and identity with unity to others",
  ];
  const textElement = document.getElementById("data-slogans");
  const animationElement = document.querySelector("[data-anim]");

  animationElement.addEventListener("animationiteration", () => {
    let index = 0;
    textElement.textContent = slogans[index % 5];
    index += 1;
    console.log(index);
  });
</script>
