---
const text =
  "We envision a society that values the dignity and freedom of lives on earth.";
// https://dev.to/tilakjain123/create-automatic-background-changer-with-pure-css-1i5
// also delete jumbotron
---

<style>
  /*  */
</style>
<!-- bg-no-repeat when one image -->
<section class="bg-center bg-[url('logo.jpeg')] bg-gray-700 bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 text-5xl font-extrabold tracking-tight leading-none text-amber-500 md:text-6xl lg:text-8xl"
    >
      Initiative for Social Change
    </h1>
    <p
      id="data-anim"
      class="mb-8 text-lg font-normal text-gray-300 lg:text-3xl sm:px-16 lg:px-48"
    >
      {text}
    </p>
  </div>
</section>
<!-- <script>
  const typeWriter = (text) => {
    let i = 0;
    if (i < text.length) {
      document.querySelector("#data-anim").innerHTML += text.charAt(i);
      i++;
      setTimeout(typeWriter, 50);
    }
  };
  typeWriter(this.dataset.text);
</script> -->
