<style>
  @keyframes backgroundshift {
    49.99% {
      background: white;
    }
    50% {
      background: black;
    }
    100% {
      background: black;
    }
  }

  @keyframes scaleshift {
    0% {
      transform: scale(0.001);
      rx: 50;
    }
    35% {
      rx: 40;
    }
    50% {
      transform: scale(1);
      rx: 0;
    }
    100% {
      transform: scale(1);
      rx: 0;
    }
  }
  svg {
    min-height: 100vh;
  }
  pattern rect {
    animation: scaleshift 3s infinite cubic-bezier(0.36, 0.17, 0.86, 0.67);
  }
  .black {
    fill: black;
    animation-direction: alternate;
  }
  .white {
    fill: white;
    animation-direction: alternate-reverse;
  }
  .topleft {
    transform-origin: 50px 50px;
  }
  .bottomleft {
    transform-origin: 50px 150px;
  }
  .topright {
    transform-origin: 150px 50px;
  }
  .bottomright {
    transform-origin: 150px 150px;
  }
  div {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 99;
    animation: backgroundshift 3s alternate infinite;
  }
</style>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100vh">
    <defs>
      <pattern
        id="blocks"
        patternUnits="userSpaceOnUse"
        width="200"
        height="200"
      >
        <rect width="100" height="100" class="topleft black"></rect>
        <rect width="100" height="100" class="topright white" x="100"></rect>
        <rect width="100" height="100" class="bottomleft white" y="100"></rect>
        <rect width="100" height="100" x="100" y="100" class="bottomright black"
        ></rect>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#blocks)"></rect>
  </svg>
</div>
