---
const { head, id } = Astro.props;
---

<li class="me-2" role="presentation">
  <button
    class="inline-block p-4 border-b-2 rounded-t-lg"
    id={`${id}-tab`}
    data-tabs-target={`#${id}`}
    type="button"
    role="tab"
    aria-controls={id}
    aria-selected="false">{head}</button
  >
</li>
