---
import ProjectLayout from "@/layouts/ProjectLayout.astro";

import image from "@/assets/project/NatureCamp.webp";
const text = `On the bank of Bishkhali river in Sadar upazila of Barguna district, a two-days
  long nature camp was held. This was an environmental conservation activity of ISC's.
  75 youths from all regions and from all ethnic groups of the country in this nature
  camp who stayed in the tents do the following,
  <ul class="list-disc list-inside font-bold pl-4 pt-2 text-md">
    <li>Garbage cleaning in Bishkhali river bank area.</li>
    <li>Plantation of trees along various roadsides and fellow lands of Barguna Sadar Upazila.</li>
      <li>Awareness raising campaign to protect the environment by riverside and local communities including river islands.</li>
      <li>Distribution of awards among the workers who played a leading role in protecting the environment of the local area.</li>
  </ul>`;
---

<ProjectLayout title="School" image={image} text={text}>
  <!--  -->
</ProjectLayout>
