---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Contact from "@/components/Sections/Contact.astro";

const { title, image, text } = Astro.props;
---

<Layout pageTitle={title}>
  <div class="grid place-content-center">
    <div class="px-[10%] py-24 lg:pt-32">
      <div class="grid place-content-center">
        <Image src={image} alt={title} class="rounded-lg" />
      </div>
      <p class="text-justify font-semibold lg:text-lg pt-8">
        <Fragment set:html={text} />
      </p>
      <slot />
    </div>
  </div>
  <Contact />
</Layout>
